body {
    background-image: url(./assets/images/Background3.png);
    background-size: cover;
    background-attachment: scroll;
}
.middle
{
    position: fixed; bottom: 40%;left: 43%;
    font-family: Arial, Helvetica, sans-serif;
}
.middle2
{
    position: fixed; bottom: 30%;left: 42%;
    font-family: Arial, Helvetica, sans-serif;
}
a:link, a:visited {
background-color: #f44336;
color: white;
padding: 14px 24px;
text-align: center;
text-decoration: none;
display: inline-block;
}

a:hover, a:active {
background-color: red;
}
.logo {
border-radius: 50%;
width: 100px;
height: 100px;
}